# rebine prefix key to <Control+a>
unbind C-b
set -g prefix C-a
bind C-a send-prefix

unbind r
bind r source-file ~/.tmux.conf

set -sg escape-time 10

# enable mouse
set -g mouse on

# support 256 colors
set -g default-terminal "xterm-256color"

# true color
set -ga terminal-overrides ",*:Tc"

# window options
setw -g aggressive-resize on
setw -g automatic-rename on
set -g renumber-windows on

# status bar style
set -g status-left ''
set -g status-right '#{prefix_highlight} ┊ %H:%M %b-%d'
set -g status-style "bg=brightblack,fg=cyan"
set -g status-justify "left"

# active pane style
setw -g pane-border-style "fg=brightgreen"
setw -g pane-active-border-style "fg=white"

# message style
set -g message-style "bg=black,fg=red,bold"

# window style
setw -g window-status-current-style "fg=green,bg=brightgreen"
setw -g window-status-style "bg=brightblack,fg=cyan"
setw -g window-status-bell-style "fg=black,bg=brightred"
setw -g window-status-format "#I:#W"
setw -g window-status-current-format " #I:#W ◢"

# vi style keybinding
setw -g mode-keys vi
# bind-key -t vi-copy v begin-selection
bind-key -T copy-mode-vi 'v' send -X begin-selection
# bind-key -t vi-copy y copy-pipe "pbcopy"
bind-key -T copy-mode-vi 'y' send -X copy-pipe "pbcopy"

# hjkl pane traversal
bind h select-pane -L
bind j select-pane -D
bind k select-pane -U
bind l select-pane -R

bind '%' split-window -h -c '#{pane_current_path}'
bind '"' split-window -v -c '#{pane_current_path}'

# index start with 1
set -g base-index 1
set -g pane-base-index 1

# visual notification of activity in other windows
setw -g monitor-activity on
set -g visual-activity on

# plugins
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-prefix-highlight'

# plugins config
set -g @prefix_highlight_fg 'black'
set -g @prefix_highlight_bg 'yellow'

# load tpm
run '~/.tmux/plugins/tpm/tpm'

# OSX patch
if-shell "type 'reattach-to-user-namespace' >/dev/null" "set -g default-command 'reattach-to-user-namespace -l $SHELL'"
